<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.thymeleaf.org"
  th:replace="~{normal/base::layoutUser(~{::section})}"
>
  <body>
    <section>
      <div class="card bg-transparent m-3">
        <div class="card-body">
          <h1 class="text-center text-white">Add Contact</h1>

          <div class="container-fluid mt-1">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div
                  th:if="${session.message}"
                  class="alert text-center"
                  th:classappend="${'alert-'+session.message.type}"
                  role="alert"
                >
                  <span th:text="${session.message.content}"></span>
                </div>
                <form
                  th:action="@{/user/proccess-contact}"
                  method="post"
                  th:object="${contact}"
                  enctype="multipart/form-data"
                  class="mt-2"
                >
                  <!-- name -->
                  <div class="input-group mb-3">
                    <span class="input-group-text"
                      ><i class="fa fa-plus"></i
                    ></span>
                    <input
                      type="text"
                      class="form-control me-3"
                      name="cFirstName"
                      id="firstname"
                      placeholder="Enter first name"
                    />
                    <input
                      type="text"
                      class="form-control"
                      name="cSecondName"
                      id="secondname"
                      placeholder="Enter second name"
                    />
                  </div>

                  <!-- NickName -->
                  <div class="input-group mb-3">
                    <span class="input-group-text"
                      ><i class="fa fa-user"></i
                    ></span>
                    <input
                      type="text"
                      class="form-control"
                      name="cNickName"
                      id="nickname"
                      placeholder="Enter nick name"
                    />
                  </div>

                  <!-- email -->
                  <div class="input-group mb-3">
                    <span class="input-group-text"
                      ><i class="fa fa-at"></i
                    ></span>
                    <input
                      type="email"
                      class="form-control"
                      name="cEmail"
                      id="email"
                      placeholder="Enter email"
                    />
                  </div>

                  <!-- phone number -->
                  <div class="input-group mb-3">
                    <span class="input-group-text"
                      ><i class="fa fa-phone"></i
                    ></span>
                    <input
                      type="number"
                      name="cPhone"
                      id="phone"
                      placeholder="Enter phone number"
                      class="form-control"
                    />
                  </div>

                  <div class="input-group mb-3">
                    <!-- work -->
                    <span class="input-group-text"
                      ><i class="fas fa-briefcase-medical"></i
                    ></span>
                    <input
                      type="text"
                      name="cWork"
                      id="work"
                      placeholder="Enter work"
                      class="form-control me-3"
                    />
                    <!-- image -->
                    <input
                      type="file"
                      class="form-control"
                      id="inputGroupFile01"
                      name="profileImage"
                    />
                  </div>

                  <!-- contact description -->
                  <div class="form-group mb-3">
                    <textarea
                      name="cInfo"
                      id="info"
                      rows="5"
                      class="form-control"
                      placeholder="Enter description"
                    ></textarea>
                  </div>
                  <div class="container text-center">
                    <button type="submit" class="btn bg-color text-white">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
