<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.thymeleaf.org"
  th:replace="~{normal/base::layoutUser(~{::section})}"
>
  <body>
    <section>
      <div class="card bg-transparent m-3">
        <div class="card-body">
          <h1 class="text-center text-white">Update Contact</h1>

          <div class="container-fluid mt-1">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <form
                  th:action="@{'/user/process-update/'+${currentPage}+'/'+${contact.cId}}"
                  method="post"
                  th:object="${contact}"
                  enctype="multipart/form-data"
                  class="mt-2"
                >
                  <!-- name -->
                  <div class="input-group mb-3">
                    <span class="input-group-text"
                      ><i class="fa fa-plus"></i
                    ></span>
                    <input
                      type="text"
                      class="form-control me-3"
                      name="cFirstName"
                      id="firstname"
                      th:value="${contact.cFirstName}"
                    />
                    <input
                      type="text"
                      class="form-control"
                      name="cSecondName"
                      id="secondname"
                      th:value="${contact.cSecondName}"
                    />
                  </div>

                  <!-- NickName -->
                  <div class="input-group mb-3">
                    <span class="input-group-text"
                      ><i class="fa fa-user"></i
                    ></span>
                    <input
                      type="text"
                      class="form-control"
                      name="cNickName"
                      id="nickname"
                      th:value="${contact.cNickName}"
                    />
                  </div>

                  <!-- email -->
                  <div class="input-group mb-3">
                    <span class="input-group-text"
                      ><i class="fa fa-at"></i
                    ></span>
                    <input
                      type="email"
                      class="form-control"
                      name="cEmail"
                      id="email"
                      th:value="${contact.cEmail}"
                    />
                  </div>

                  <!-- phone number -->
                  <div class="input-group mb-3">
                    <span class="input-group-text"
                      ><i class="fa fa-phone"></i
                    ></span>
                    <input
                      type="number"
                      name="cPhone"
                      id="phone"
                      th:value="${contact.cPhone}"
                      class="form-control"
                    />
                  </div>

                  <div class="input-group mb-3">
                    <!-- work -->
                    <span class="input-group-text"
                      ><i class="fas fa-briefcase-medical"></i
                    ></span>
                    <input
                      type="text"
                      name="cWork"
                      id="work"
                      th:value="${contact.cWork}"
                      class="form-control me-3"
                    />
                    <!-- image -->
                    <input
                      type="file"
                      class="form-control"
                      id="inputGroupFile01"
                      name="profileImage"
                    />
                  </div>

                  <!-- contact description -->
                  <div class="form-group mb-3">
                    <textarea
                      name="cInfo"
                      id="info"
                      rows="5"
                      class="form-control"
                      th:text="${contact.cInfo}"
                    ></textarea>
                  </div>
                  <div class="container d-flex justify-content-around">
                    <button
                      th:href="@{'/user/show-contacts/'+${currentPage}}"
                      class="btn bg-color text-white"
                    >
                      Back
                    </button>
                    <button type="submit" class="btn btn-warning">
                      Update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
