<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.thymeleaf.com"
  th:replace="~{normal/base::layoutUser(~{::section})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="card col-md-8 offset-md-2 bg-transparent">
        <div class="card-body">
          <h1 class="text-center text-white">Your Contacts</h1>
          <div
            th:if="${session.message}"
            class="alert text-center"
            th:classappend="${session.message.type}"
            role="alert"
          >
            <span th:text="${session.message.content}"></span>
            <th:block
              th:text="${@sessionHelper.removeMessageFromSession}"
            ></th:block>
          </div>
          <hr class="text-white" />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Actions</th>
                <th scope="col">Image</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone No.</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="c : ${contacts}">
                <th class="">
                  <form
                    th:action="@{'/user/contact-update/'+${currentPage}+'/'+${c.cId}}"
                    method="post"
                    class="d-inline"
                  >
                    <button class="bg-transparent border-0" type="submit">
                      <i class="fas fa-pen-alt text-white"></i>
                    </button>
                  </form>
                  &nbsp;&nbsp;&nbsp;<button
                    class="bg-transparent border-0"
                    th:onclick="|deleteContact(${currentPage},${c.cId})|"
                  >
                    <i class="fas fa-trash" style="color: red"></i>
                  </button>
                </th>
                <td>
                  <img
                    style="height: 35px; border-radius: 50%"
                    th:src="@{'/image/'+${c.imageUrl}}"
                    alt="profileImage"
                  />
                </td>
                <td th:text="${c.cFirstName}"></td>
                <td th:text="${c.cSecondName}"></td>
                <td>
                  <a
                    style="color: white"
                    th:href="@{'/user/contact/'+${currentPage}+'/'+${c.cId}}"
                    ><span th:text="${c.cEmail}"></span
                  ></a>
                </td>
                <td th:text="${c.cPhone}"></td>
              </tr>
            </tbody>
          </table>
          <!-- pagination -->
          <nav aria-label="Page navigation example bg-transparent">
            <ul class="pagination d-flex justify-content-center">
              <li class="page-item" th:if="${currentPage != 0}">
                <a
                  class="page-link"
                  th:href="@{'/user/show-contacts/'+${currentPage-1}}"
                  >Previous</a
                >
              </li>

              <li
                th:each="i: ${#numbers.sequence(1,totalPages)}"
                class="page-item"
                th:classappend="${currentPage==i-1 ? 'active' : '' }"
              >
                <a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}"
                  ><span th:text="${i}"></span
                ></a>
              </li>

              <li class="page-item" th:if="${currentPage+1 != totalPages}">
                <a
                  class="page-link"
                  th:href="@{'/user/show-contacts/'+${currentPage+1}}"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </body>
</html>
