<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::section})}"
>
  <body>
    <section class="banner d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="card col-md-6 offset-md-3 bg-transparent text-white">
          <div
            th:if="${session.message}"
            class="alert text-center"
            th:classappend="${session.message.type}"
            role="alert"
          >
            <p class="mb-0" th:text="${session.message.content}"></p>
            <th:block
              th:text="${@sessionHelper.removeMessageFromSession()}"
            ></th:block>
          </div>
          <div class="card-body">
            <form
              th:action="@{'/change/'+${email}}"
              method="post"
              class="change-password"
            >
              <label class="form-label mb-3" for="">Enter New Password</label>
              <input type="text" class="form-control mb-3" name="Password" />
              <label class="form-label mb-3" for="">Confirm New Password</label>
              <input type="text" class="form-control mb-3" name="cPassword" />
              <button type="submit" class="btn bg-color text-white">
                Confirm
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
